<div>
    <h2>
        <span>Biz Devs</span>
        <button class="btn btn-primary float-right jh-create-entity create-biz-dev" [routerLink]="['/', { outlets: { popup: ['biz-dev-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Biz Dev
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="bizDevs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Surnom</span></th>
            <th><span>Placement</span></th>
            <th><span>Equipe</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bizDev of bizDevs ;trackBy: trackId">
                <td><a [routerLink]="['../biz-dev', bizDev.id ]">{{bizDev.id}}</a></td>
                <td>{{bizDev.surnom}}</td>
                <td>
                    <div *ngIf="bizDev.placement">
                        <a [routerLink]="['../placement', bizDev.placement?.id ]" >{{bizDev.placement?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="bizDev.equipe">
                        <a [routerLink]="['../equipe', bizDev.equipe?.id ]" >{{bizDev.equipe?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../biz-dev', bizDev.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'biz-dev/'+ bizDev.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'biz-dev/'+ bizDev.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
