<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPlacementLabel">Create or edit a Placement</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" *ngIf="false">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="placement.id" readonly />
        </div>
        <div [hidden]="!((editForm.controls.nomClientFinal?.dirty || editForm.controls.nomSSII?.dirty) && nomClientFinalOrnomSSIIError)">
            <small class="form-text text-danger" [hidden]="!nomClientFinalOrnomSSIIError">
                At least Nom Client Final or Nom SSII must be defined
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nomClientFinal">Nom Client Final</label>
            <input type="text" class="form-control" name="nomClientFinal" id="field_nomClientFinal" [(ngModel)]="placement.nomClientFinal"
            />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nomSSII">Nom SSII</label>
            <input type="text" class="form-control" name="nomSSII" id="field_nomSSII" [(ngModel)]="placement.nomSSII" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_contactSSII">Contact SSII</label>
            <input type="text" class="form-control" name="contactSSII" id="field_contactSSII" [(ngModel)]="placement.contactSSII" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_contactClient">Contact Client</label>
            <input type="text" class="form-control" name="contactClient" id="field_contactClient" [(ngModel)]="placement.contactClient"
            />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dateDemarrage">Date Demarrage</label>
            <div class="d-flex">
                <input id="field_dateDemarrage" type="datetime-local" class="form-control" name="dateDemarrage" [(ngModel)]="placement.dateDemarrage"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_etat">Etat</label>
            <select class="form-control" name="etat" [(ngModel)]="placement.etat" id="field_etat">
                <option value="GO">GO</option>
                <option value="NOGO">NOGO</option>
                <option value="STANDBY">STANDBY</option>
                <option value="POSITIONEMENT">POSITIONEMENT</option>
                <option value="ENTRETIEN_COMMERCIAL">Entretien Commercial</option>
                <option value="ENTRETIEN_CLIENT">Entretien Client</option>
                <option value="CV_ENVOYE">CV Envoyé</option>
            </select>
        </div>


        <div class="form-group">
            <label class="form-control-label" for="field_tjmNego">Tjm Nego</label>
            <input type="number" class="form-control" name="tjmNego" id="field_tjmNego" [(ngModel)]="placement.tjmNego" />
        </div>
        <ng-template [ngIf]="placement.id && placement.consultant" [ngIfThen]="placemenConsultantDefinedTpl" [ngIfElse]="placemenConsultantUndefinedTpl"></ng-template>
        <ng-template #placemenConsultantDefinedTpl>
            <div class="form-group">
                <label class="form-control-label" for="field_consultant">Consultant</label>
                <select class="form-control" id="field_consultant" name="consultant" [(ngModel)]="placement.consultant" required>
                    <option [ngValue]="null"></option>
                    <option [ngValue]="consultantOption.id === placement.consultant?.id ? placement.consultant : consultantOption" *ngFor="let consultantOption of consultants; trackBy: trackConsultantById">{{consultantOption.nom}} {{consultantOption.prenom}}</option>
                </select>
                <div [hidden]="!(editForm.controls.consultant?.dirty && editForm.controls.consultant?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.consultant?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </ng-template>
        <ng-template #placemenConsultantUndefinedTpl>
            <div class="form-group" *ngIf="consultantOptions && consultantOptions.length > 0">
                <label class="form-control-label" for="field_consultants">Consultants</label>
                <ss-multiselect-dropdown id="field_consultants" name="consultants" [settings]="palcementConsultantsSettings" [texts]="palcementConsultantsTexts"
                    [options]="consultantOptions" [(ngModel)]="placementConsultants" required></ss-multiselect-dropdown>
                <div [hidden]="!(editForm.controls.consultants?.dirty && editForm.controls.consultants?.invalid)">
                    <small class="form-text text-danger" [hidden]="!editForm.controls.consultants?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </ng-template>
        <div class="form-group">
            <label class="form-control-label" for="field_bizDev">Biz Dev</label>
            <select class="form-control" id="field_bizDev" name="bizDev" [(ngModel)]="placement.bizDev" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="bizDevOption.id === placement.bizDev?.id ? placement.bizDev : bizDevOption" *ngFor="let bizDevOption of bizdevs; trackBy: trackBizDevById">{{bizDevOption.surnom}}</option>
            </select>
            <div [hidden]="!(editForm.controls.bizDev?.dirty && editForm.controls.bizDev?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.bizDev?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span>Cancel</span>
        </button>
        <button type="submit" [disabled]="nomClientFinalOrnomSSIIError || editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;
            <span>Save</span>
        </button>
    </div>
</form>