<div>
    <h2>
        <span>Placements</span>
        <button class="btn btn-primary float-right jh-create-entity create-placement" [routerLink]="['/', { outlets: { popup: ['placement-new'] } }]">
            <span class="fa fa-plus"></span>
            <span>
                Create new Placement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-md-12">
            <label class="sr-only" for="searchInput">Search</label>
            <div class="input-group">
                <input type="text" id="searchInput" class="form-control form-control-lg" 
                placeholder="Search by nom client final, nom SSII, nom consultant or bizDev"
                    [ngModel]="keyword" (ngModelChange)="onSearch($event)">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [ngModel]="showArchivedPlacements" (ngModelChange)="onShowArchivedPlacements($event)"> Show archived placements
                </label>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="filteredPlacements">
        <table class="table table-sm">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                    <th jhiSortBy="nomClientFinal">
                        <span>Nom Client Final</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="nomSSII">
                        <span>Nom SSII</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="dateDemarrage">
                        <span>Date Demarrage</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="etat">
                        <span>Etat</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th>
                        <span>TJM Nego</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th>
                        <span>TJM Final</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="consultant.id">
                        <span>Consultant</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="bizDev.id">
                        <span>Biz Dev</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let placement of filteredPlacements ;trackBy: trackId">
                    <td>{{placement.nomClientFinal}}</td>
                    <td>{{placement.nomSSII}}</td>
                    <td>{{placement.dateDemarrage | date:'dd/MM/yyyy'}}</td>
                    <td>{{placement.etat}}</td>
                    <td>{{placement.tjmNego}}</td>
                    <td>{{placement.tjmFinal}}</td>
                    <td>
                        <div *ngIf="placement.consultant">
                            <a [routerLink]="['../consultant', placement.consultant?.id ]">{{placement.consultant?.nom}}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="placement.bizDev">
                            <a [routerLink]="['../biz-dev', placement.bizDev?.id ]">{{placement.bizDev?.surnom}}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['../placement', placement.id ]" class="btn btn-info btn-sm" title="view">
                                <span class="fa fa-eye"></span>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'placement/'+ placement.id + '/edit'} }]" replaceUrl="true"
                                queryParamsHandling="merge" class="btn btn-primary btn-sm" *ngIf="!placement.archived" title="edit">
                                <span class="fa fa-pencil"></span>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'placement/'+ placement.id + '/delete'} }]" replaceUrl="true"
                                queryParamsHandling="merge" class="btn btn-danger btn-sm" title="delete">
                                <span class="fa fa-remove"></span>
                            </button>

                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'placement/'+ placement.id + '/archive'} }]" replaceUrl="true"
                                queryParamsHandling="merge" class="btn btn-warning btn-sm" *ngIf="!placement.archived" title="archive">
                                <span class="fa fa-archive"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>