<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myConsultantLabel">Create or edit a Consultant</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!consultant.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="consultant.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="consultant.nom" required/>
            <div [hidden]="!(editForm.controls.nom?.dirty && editForm.controls.nom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nom?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                [(ngModel)]="consultant.prenom" required/>
            <div [hidden]="!(editForm.controls.prenom?.dirty && editForm.controls.prenom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.prenom?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cjm">Cjm</label>
            <input type="number" class="form-control" name="cjm" id="field_cjm"
                [(ngModel)]="consultant.cjm" required/>
            <div [hidden]="!(editForm.controls.cjm?.dirty && editForm.controls.cjm?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cjm?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cjm?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_tjm">Tjm</label>
            <input type="number" class="form-control" name="tjm" id="field_tjm"
                [(ngModel)]="consultant.tjm" required/>
            <div [hidden]="!(editForm.controls.tjm?.dirty && editForm.controls.tjm?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tjm?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.tjm?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dateIntegration">Date Integration</label>
            <div class="d-flex">
                <input id="field_dateIntegration" type="datetime-local" class="form-control" name="dateIntegration" [(ngModel)]="consultant.dateIntegration"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.dateIntegration?.dirty && editForm.controls.dateIntegration?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateIntegration?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dateIntegration?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_placement">Placement</label>
            <select class="form-control" id="field_placement" name="placement" [(ngModel)]="consultant.placement" >
                <option [ngValue]="null"></option>
                <option [ngValue]="placementOption.id === consultant.placement?.id ? consultant.placement : placementOption" *ngFor="let placementOption of placements; trackBy: trackPlacementById">{{placementOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
